.container {
    margin: 1rem;
    padding: 10px;
    max-width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 90vh;
}

.location {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #555;
}

.location-set {
    background-color: #d4edda;
    color: #155724;
}

.location-unset {
    background-color: #f8d7da;
    color: #721c24;
}

/* .results-container {
    margin-top: 20px;
} */

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.loader {
    font-size: 1.5em;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.results-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
     /* Adjust as needed */
}

.results-container {
    flex: 0 0 auto;
    margin: 0 3px; /* Adjust as needed */
    box-sizing: border-box;
}

.location-error{
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
}